body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f5f5;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#status {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.user {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    text-align: left;
}